doctype html
head
  title= @title

  meta(charset="UTF-8")
  meta(name="description" content="The internet's FREE leading online resource for learning Sketchup that is built and run by woodworkers for woodworkers.")
  meta(name="keywords" content="woodworking,wood,cad,build,layout,sketchup,tutorials,learning,furniture,design")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600|Oswald" rel="stylesheet")
  link(rel="stylesheet" type="text/css" href="/stylesheets/application.css")

  javascript:
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '173044680013101');
    fbq('track', 'PageView');

  noscript
    img(height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=173044680013101&ev=PageView&noscript=1")

body.f.c-fill2
  header.px3.py2.bb.c-fill1.maple.cover.c-txt-walnut
    h2.f-title.medium.t8.center.bps-left.bps-t10.kern1
      a.kern0(href="/") Sketchup for Woodworkers
    p.t3.pt1.center.bps-left The internet's FREE leading online resource for learning Sketchup that is built and run by woodworkers for woodworkers.
  div.flex
    main.up1.bps-up3-4
      h2.f-title.t8.bpm-t9.c-txt1.p2.center.bps-right.walnut.back-50
        a.flex.flex-right(href="https://shop.forwoodworkers.com")
          span.mr1 Check out the new For Woodworkers Shop
          span.hide.bps-show &rarr;
      == yield
    aside.up4.center.hide.bps-show
      == render '_aside.html.slim'
  footer.flex.flex-center.maple.c-txt-walnut
    p.p2.center
      | Sketchup for Woodworkers is &copy;2009-2018
      a.underline<(href="//ridingtheclutch.com") Rob Cameron


  javascript:
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  javascript:
    try {
      var pageTracker = _gat._getTracker("UA-164680-16");
      pageTracker._trackPageview();
    } catch(err) {}
