div.p3
  div.mw-copy
    h1.mb2.f-title.t8= @title.split('|').first
    p.mb1 In this tutorial I introduce the Outliner panel for keeping track of all these groups floating around. We also rebuild the bookshelf using Components. I use the Line, Arc and FollowMe tools for the first time to create moulding on our bookshelf.
    p.mb1 Leave comments over on <a href="https://youtube.com/watch?v=b905KRSvH2g" class="underline">YouTube</a>.
  .video.mt3
    iframe(src="//www.youtube.com/embed/b905KRSvH2g" frameborder="0" allowfullscreen)
