div.p3
  div.mw-copy
    h1.mb2.f-title.t8= @title.split('|').first
    p.mb1 In this tutorial we learn how to setup Sketchup from the beginning to work best for modeling furniture and cabinets. I introduce the rectangle, push/pull, orbit, pan, and zoom tools.
    p.mb2 In order to really see what’s going on, try making the video full-screen by clicking the little TV icon.
    p.mb1
      strong> Note
      | These tutorials are made with Sketchup 7. There have been a couple of releases since these were made and even a version that runs completely in your browser.
    p.mb1 Leave comments over on <a href="https://youtube.com/watch?v=xPHcnIJhcT0" class="underline">YouTube</a>.
  .video.mt3
    iframe(src="//www.youtube.com/embed/xPHcnIJhcT0" frameborder="0" allowfullscreen)
