div.p3
  div.mw-copy
    h1.mb2.f-title.t8= @title.split('|').first
    p.mb1 In this tutorial I cover several of the most common woodworking joints—miter, half-lap, tongue and groove, splined, rabbet and groove, blind dado, sliding dovetail, mortise and tenon, and the good old-fashioned dovetail.
    p.mb1 If there any more you’d like to see just leave a comment and I’ll do an additional video in the future covering those as well.
    p.mb1 I realize my rabbet and groove ended up being more of a rabbet and rabbet!
    p.mb1 Leave comments over on <a href="https://youtube.com/watch?v=hjiKuJ03DbI" class="underline">YouTube</a>.
  .video.mt3
    iframe(src="//www.youtube.com/embed/hjiKuJ03DbI" frameborder="0" allowfullscreen)
