$english_tea: ("type-font-title": ('Oswald', 'Helvetica Neue', sans-serif), "type-font-body": ('Open Sans', 'Helvetica Neue', sans-serif), "type-transform-title": none)

@import 'english_tea'

.walnut
  background-image: url('/images/walnut.jpg')

.maple
  background-image: url('/images/maple.jpg')

.back-50
  background-size: 50%

.contain
  background-size: contain

.cover
  background-size: cover

.c-txt-walnut
  color: #52372b !important

.video
  position: relative
  padding-bottom: 56.25% // 16:9
  height: 0

  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
